.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type="radio"i] {
  visibility: hidden;
  width: 0;
  height: 0;
}
.container{
  max-width: 85vh;
  height: 90vh;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 20px
}
.header{
  height: 20%;
}
.header__title {
  height: 100px;
  line-height: 100px;
}
.main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.images{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items:center;
}
.images__meme{
  object-fit: contain;
  border-radius: 1%;
  width:0;
  height: 0;
}
@keyframes turn {
  from {
    width: 0;
    height: 0;
    transform: rotate(0deg);
  }
  to
  {
    width: 100%;
    height: 100%;
    transform: rotate(360deg);
  }
}
.radio__group-item-one:checked~.images .images__meme-one,
.radio__group-item-two:checked~.images .images__meme-two,
.radio__group-item-three:checked~.images .images__meme-three,
.radio__group-item-four:checked~.images .images__meme-four,
.radio__group-item-five:checked~.images .images__meme-five
{
  animation: turn 1s;
  width: 100%;
  height: 100%;
}

.footer{
  width: 100%;
  height: 30%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.footer__texts {
  width: 50%;
  font-size: 0;
}
@keyframes changeColor {
  0% {color:#ffffff}
  25% {color:#cccccc}
  50% {color:#888888}
  75% {color:#444444}
  100% {color: #000000}
  
  }
.radio__group-item-one:checked~.footer .footer__text-one,
.radio__group-item-two:checked~.footer .footer__text-two,
.radio__group-item-three:checked~.footer .footer__text-three,
.radio__group-item-four:checked~.footer .footer__text-four,
.radio__group-item-five:checked~.footer .footer__text-five
{
  animation: changeColor 0.5s;
  font-size: 1.3rem;
}
@media (max-width:560px) {
  .radio__group-item-one:checked~.footer .footer__text-one,
  .radio__group-item-two:checked~.footer .footer__text-two,
  .radio__group-item-three:checked~.footer .footer__text-three,
  .radio__group-item-four:checked~.footer .footer__text-four,
  .radio__group-item-five:checked~.footer .footer__text-five
  {
    animation: changeColor 0.5s;
    font-size: 1.2rem;
  }
}
@media (max-width:425px) {
  .radio__group-item-one:checked~.footer .footer__text-one,
  .radio__group-item-two:checked~.footer .footer__text-two,
  .radio__group-item-three:checked~.footer .footer__text-three,
  .radio__group-item-four:checked~.footer .footer__text-four,
  .radio__group-item-five:checked~.footer .footer__text-five
  {
    animation: changeColor 0.5s;
    font-size: 1rem;
  }
}

.footer__labels{
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio__group-item-one:checked~.footer .footer__button-one,
.radio__group-item-two:checked~.footer .footer__button-two,
.radio__group-item-three:checked~.footer .footer__button-three,
.radio__group-item-four:checked~.footer .footer__button-four,
.radio__group-item-five:checked~.footer .footer__button-five
{
  background-color: #000000;
}

.footer__label{
  padding: 10px 10px 15px;
}
@media (max-width:560px) {
  .footer__label{
    padding: 5px 5px 10px;
  }
}

.footer__label:hover{
  cursor: pointer;
  
}
@media (hover:hover){
.footer__label:hover .footer__button{
 cursor: pointer;
 border: 0.5rem solid #ffffff;
box-shadow: 0 0 2rem #5d5f5f;
transition: all ease-in-out 0.3s;
}
}
.footer__button{
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid #000000;
  border-radius: 50%;
}
@media (max-width:768px) {
  .footer__button{
    width: 1.2rem;
    height: 1.2rem;
  }
}
@media (max-width:560px) {
  .footer__button{
    width: 1rem;
    height: 1rem;
  }
}